/**/.bundle/
/doc/
*.log
*.gem
/pkg/
/tmp/
.byebug_history
/node_modules/
/.idea

# demo app
/spec/dummy/tmp/
/spec/dummy/node_modules/
/spec/dummy/config/master.key
/spec/dummy/public/packs/
/spec/dummy/public/assets/
/spec/dummy/db/*.sqlite3
/spec/dummy/db/*.sqlite3-*
/spec/dummy/log/*.log
.DS_Store
